body {
  background-color: #000;
  background-image: url('/img/background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #FFF;
}

.page-content {
    border-radius: 25px;
    /* background: #73AD21;*/
    border: 1px solid #333;
    background-color: #333;
    background-image: -webkit-gradient(
	 linear,
	 left bottom,
	 left top,
	 color-stop(0.21, rgb(54,54,54)),
	 color-stop(0.55, rgb(64,64,64)),
	 color-stop(0.81, rgb(79,79,79))
	 );
    padding: 20px;
    width: 700px;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

body > .page-content:first-child {
    margin-top: 250px;
}

a {
  color: #3399FF;
}

.builder {
    color: #3399FF;
}

.senior {
    color: #009900;
}

.architect {
    color: #9933FF;
}

.donator {
    color: #00CC00;
}

.bot {
    color: #9E8DA7;
}

.sponsor {
    color: #3333FF;
}

.moderator {
    color: #FF9900;
}

.administrator {
    color: #aa0000;
}

.owner {
    color: #F55555;
}
