---
layout: default
---
{% if page.ign %}
  {% assign ign = page.ign %}
{% else %}
  {% assign ign = page.username %}
{% endif %}

<h3 class='{{ page.rank | slugify }}'>{{ ign }}</h3>

<img src='https://mcapi.ca/skin/{{ ign }}' />

<strong>Ranks held:</strong>
{% for r in page.ranks %}
  <a class='{{ r | slugify }}'>{{r}}</a>
{% endfor %}

<p>
{% for link in page.links %}
    {% if link.name == 'twitter' and link.handle %}
    <i class="fa fa-twitter-square" aria-hidden="true"></i> <a href='https://twitter.com/{{ link.handle }}' rel='nofollow'>@{{ link.handle }}</a>
    {% elsif link.name == 'facebook' and link.handle %}
    <i class="fa fa-facebook-offical" aria-hidden="true"></i> <a href='https://facebook.com/{{ link.handle }}' rel='nofollow'>{{ link.handle }}</a>
    {% elsif link.name == 'steam' and link.handle %}
    <i class="fa fa-steam-square" aria-hidden="true"></i> <a href='http://steamcommunity.com/id/{{ link.handle }}/home' rel='nofollow'>{{ link.handle }}</a>
    {% elsif link.url %}
      {% if link.name %}
      <a href='{{ link.url }}' rel='nofollow'>{{ link.name | capitalize }}</a>
      {% else %}
      <a href='{{ link.url }}' rel='nofollow'>{{ link.url }}</a>
      {% endif %}
    {% endif %}
{% endfor %}
</p>

<p>
{{ content }}
</p>
